<h2>보안 설정</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <br />

  <div> 이메일<br />
  <%= f.email_field :email %></div>

  <div>새로운 패스워드 <i>(바꾸기 싫으시면 빈칸으로 놔두세요)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div>새로운 패스워드 한번 더<br />
  <%= f.password_field :password_confirmation %></div>

  <div>현재 패스워드 <i>(꼭 입력)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "변경사항 저장하기", :class => 'btn btn-primary' %></div>
<% end %>

<h3>계정 삭제</h3>

<p>서비스가 맘에 안드세요? <%= link_to "계정 삭제", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
