
<%= render :partial => "layouts/flash", object: flash %>

<div class="hero-unit">
  <h2>koReport BETA 에 오신 것을 환영합니다.</h2>
  <p>하드디스크에서 잠자고 있는 여러분의 리포트를 팔아보세요.
  </p>
  <p><a class="btn btn-primary btn-large">더 알아보기 &raquo;</a></p>
  <br \>
  <br \>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'well form-inline', :'accept-charset' => 'utf-8' } ) do |f| %>

  <%= devise_error_messages! %>

  <p><small><a title="Enter using facebook account" href="#" id="facebook_btn" class="zocial facebook "><span>Facebook</span></a></small> 이나 <small><a title="Enter using twitter account" href="#" id="twitter_btn" class="zocial twitter "><span>Twitter</span></a></small> 로 가입하세요. 아니면 가입을 위해 이메일과 패스워드를 입력해주세요.</p>

  <%= f.email_field :email, :placeholder => "이메일" %>

  <%= f.password_field :password, :placeholder => "패스워드" %>

<% if false %>
  <%= f.password_field :password_confirmation, :placeholder => "패스워드" %>
<% end %>

<% if false %>
  <%= f.submit "Sign up", :id => 'signup_btn', :class => 'btn btn-primary', :rel => 'popover', :title => '가입' %>
<% end %>

  <button id="signup_btn" type="submit" name="commit" class="btn btn-primary" rel="popover" title="가입" data-content="이메일과 패스워드만 입력하면 바로 가입할 수 있습니다.">가입</button>

<% end %>

<% if false %>
<%= render "devise/shared/links" %>
<% end %>

<%- if controller_name != 'sessions' %>
  <%= link_to "로그인", new_session_path(resource_name) %><br />
<% end -%>

</div> 
