<div class='page-header'>
  <h3>프로필 설정</h3>
</div>

<%= form_for @user, :url => update_setting_path, :html => { :multipart => true } do |f| %>

  <%= render 'error_messages' %>

  <ul class='thumbnails'>
    <li class='span3'>
      <div class='thumbnail'>
        <%= image_tag @user.avatar.url(:thumb) %>
        <%= f.file_field :avatar %>
      </div>
          <table class='table'>
          <tbody>
            <tr>
              <td>이메일:</td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td>회원권한:</td>
              <td>5</td>
            </tr>
            <tr>
              <td>포인트:</td>
              <td>2985 점</td>
            </tr>
            <tr>
              <td>회원가입일:</td>
              <td>2011-12-08</td>
            </tr>
            <tr>
              <td>최종접속일:</td>
              <td>2012-07-25 10:58:30</td>
          </tbody>
          </table>
    </li>
  </ul>

  <%= f.submit "변경사항 저장하기", class: "btn btn-primary" %>

<% end %>
