<table class='table'>
<tbody>
<tr>
  <td><h4>작성자: <%= email(@post.user_id) %></h4></td>
</tr>

<tr>
  <td><h3>제목: <%= @post.title %></h3></td>
</tr>

<tr>
  <td><%= @post.content %></td>
</tr>
</table>

댓글
<table class='table table-condensed'>
  <tbody>
    <%= render :partial => 'comments/comments', :locals => { :post => @post, :comments => @post.comment_threads } %>
  </tbody>
</table>

<%= link_to '목록', posts_path, :class => 'btn btn-mini' %>
<% if current_user && @post.user_id == current_user.id %>
  <%= link_to '수정', edit_post_path(@post), :class => 'btn btn-mini' %> 
  <%= link_to '지우기', post_path(@post), :method => :delete, :confirm => '지울까요?', :class => 'btn btn-mini btn-danger' %>
<% end %>
