<h2>리포트 수정</h2>

<%= form_for @report, :url => { :action => 'update' }, :html => { :multipart => true } do |f| %>

  <%= render 'error_messages' %>

  <br />

  제목:
  <div class="input-prepend">
    <span class="add-on"><i class="icon-font"></i></span><%= f.text_field :title, :class => 'span4', :placeholder => '리포트 제목' %>
  </div>

  <br />

  보기:
  <div>
    <%= link_to '리포트 보기', @report.document.url, :class => 'btn btn-info' %>
  </div>

  <br />

  다른 화일로 새로 업로드:
  <div class="input-prepend">
    <span class="add-on"><i class="icon-upload"></i></span><%= f.file_field :document , :class => 'span4' %>
  </div>

  <br />

  <i class="icon-tags"></i> 관련태그
  <ul id="mytags">
    <% @report.tag_list.each do |tag| %>
    <li><%= tag %></li>
    <% end %>
  </ul>

  <button type="submit" class="btn btn-primary"><i class="icon-save"></i> 변경사항 저장하기</button>

  <br />
  <br />

  <%= render 'disqus' %>

<% end %>
