<div class="hero-unit">
  <% if user_signed_in? %>
    <h2>
    <%= image_tag @current_user.avatar.url(:thumb) %>
    <%= current_user.email %> 님, koReport BETA 에 오신 것을 환영합니다.</h2>
  <% else %>
    <h2>koReport BETA 에 오신 것을 환영합니다.</h2>
  <% end %>

  <br />

  <p>하드디스크에서 잠자고 있는 여러분의 리포트를 팔아보세요.</p>
  
  <br />

  <p>내가 올린 리포트들</p>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>ID</th>
        <th class="span3">제목</th>
        <th>태그</th>
        <th>View</th>
        <th>판매 횟수</th>
        <th>매출</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.id %></td>
          <td class="span3"><%= link_to report.title, edit_report_path(report) %>
          <td><span class="post-tag"><%= report.tag_list %></span></td>
          <td>10</td>
          <td>5</td>
          <td>10000 원</td>
          <td>
            <span class="btn-group" style="float:right">
              <a class="btn btn-mini downdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> Share<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="icon-pencil"></i> Me2day</a></li>
                <li><a href="#"><i class="icon-envelope"></i> Email</a></li>
              </ul>
            </span>
            <%= link_to '지우기',
              report_path(report),
              :method => :delete,
              :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger', :style => "float:right" %>
            <%= link_to '다운로드', report.document.url, :class => 'btn btn-mini btn-info', :style => "float:right" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= will_paginate @reports, :renderer => BootstrapPagination::Rails %>

  <%= link_to new_report_path, :class => 'btn btn-primary btn-large' do %>
    리포트 등록 &raquo;
  <% end %>
  <%= link_to search_path, :class => 'btn btn-primary btn-large' do %>
    등록 리포트 모두 보기 &raquo;
  <% end %>
</div> 
