<div class="hero-unit">
  <% if user_signed_in? %>
    <h2><%= image_tag @current_user.avatar.url(:thumb) %>
    <%= current_user.email %> 님, koReport BETA 에 오신 것을 환영합니다.</h2>
  <% else %>
    <h2>koReport BETA 에 오신 것을 환영합니다.</h2>
  <% end %>

  <br />

  <p>하드디스크에서 잠자고 있는 여러분의 리포트를 팔아보세요.</p>
  
  <br />

  <p>내가 올린 리포트들</p>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>ID</th>
        <th>제목</th>
        <th>View</th>
        <th>Sales</th>
        <th>Revenues</th>
        <th>올린 날짜</th>
        <th class="span3"></th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.id %></td>
          <td><%= link_to report.title, edit_report_path(report) %>
          <td>10</td>
          <td>5</td>
          <td>$100</td>
          <td><%= ago(report.created_at) %></td>
          <td class="span3">
            <span class="btn-group" style="float:right">
              <a class="btn btn-mini downdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> Share<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="icon-pencil"></i> Me2day</a></li>
                <li><a href="#"><i class="icon-envelope"></i> Email</a></li>
              </ul>
            </span>
            <%= link_to '지우기',
              report_path(report),
              :method => :delete,
              :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger', :style => "float:right" %>
            <%= link_to '다운로드', report.document.url, :class => 'btn btn-mini btn-info', :style => "float:right" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= will_paginate @reports, :renderer => BootstrapPagination::Rails %>

  <%= link_to new_report_path, :class => 'btn btn-primary btn-large' do %>
    리포트 등록 &raquo;
  <% end %>
</div> 
