<div class="hero-unit">
  <% if user_signed_in? %>
    <h2><%= current_user.email %> 님, koReport BETA 에 오신 것을 환영합니다.</h2>
  <% else %>
    <h2>koReport BETA 에 오신 것을 환영합니다.</h2>
  <% end %>
  <p>하드디스크에서 잠자고 있는 여러분의 리포트를 팔아보세요.</p>
  
  <br />

  <p>내가 올린 리포트들</p>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>ID</th>
        <th>제목</th>
        <th>View</th>
        <th>Sales</th>
        <th>Revenues</th>
        <th>올린 날짜</th>
        <th>액션</th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |r| %>
        <tr>
          <td><%= r.id %></td>
          <td><%= link_to r.title, '#' %>
          <td>10</td>
          <td>5</td>
          <td>$100</td>
          <td><%= ago(r.created_at) %></td>
          <td>
            <%= link_to 'Edit',
              '#', :class => 'btn btn-mini' %>
            <%= link_to 'Download', r.document.url, :class => 'btn btn-mini btn-info' %>
            <%= link_to 'Delete',
              '#', :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= will_paginate @reports, :renderer => BootstrapPagination::Rails %>

  <%= link_to new_reports_path, :class => 'btn btn-primary btn-large' do %>
    리포트 등록 &raquo;
  <% end %>
</div> 
