<h2>리포트 등록</h2>

<%= simple_form_for @report, :url => reports_path, :method => :post, :html => { :multipart => true } do |f| %>

  <%= render 'error_messages' %>

  <%= f.input :title %>

  <%= f.file_field :document %>

  <%= f.submit '리포트 등록', class: 'btn btn-primary' %>
<% end %>
