<h2>리포트 등록</h2>

<%= form_for @report, :url => reports_path, :method => :post, :html => { :multipart => true } do |f| %>

  <%= render 'error_messages' %>

  <br />

  업로드 화일
  <div class="input-prepend">
    <span class="add-on"><i class="icon-file"></i></span><%= f.file_field :document , :class => 'span4' %>
  </div>

  <br />

  리포트 제목
  <div class="input-prepend">
    <span class="add-on"><i class="icon-font"></i></span><%= f.text_field :title, :class => 'span4', :placeholder => '리포트 제목' %>
  </div>

  <br />

  <i class="icon-tags"></i> 관련 태그
  <input name="report[tag_list]" id="mytags" value="<%= @report.tag_list %>"> 

  <br />

  <button type="submit" class="btn btn-primary"><i class="icon-upload"></i> 리포트 등록</button>

<% end %>
