<div class="hero-unit">
  <% if @reports.count == 0 %>
  <h2>Not found</h2>
  <br />
  <% else %>
    <h2>검색 결과</h2>
    <br />
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>작성자</th>
          <th>제목</th>
          <th>판매 횟수</th>
          <th>가격</th>
          <th>올린 날짜</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @reports.each do |report| %>
          <tr>
            <td><%= email(report.user_id) %></td>
            <td><%= link_to report.title, report_path(report) %>
            <td>5</td>
            <td>1,000 원</td>
            <td><%= report.created_at %></td>
            <td>
              <% if report.user_id == current_user.id %>
                <%= link_to '다운로드', report.document.url, :class => 'btn btn-mini btn-info' %>
              <% else %>
                <%= link_to '구매', report.document.url, :class => 'btn btn-mini btn-success' %>
              <% end %>
              <%= link_to '이메일', '#', :class => 'btn btn-mini' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <%= link_to :back, :class => 'btn btn-primary' do %>
    &laquo; 뒤로
  <% end %>
</div> 
