<div>
  <% if @reports.count == 0 %>
  <h3>Not found</h3>
  <br />
  <% else %>
    <div class='page-header'>
      <h3>검색 결과</h3>
    </div>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>No</th>
          <th class='span4'>제목</th>
          <th>태그</th>
          <th>작성자</th>
          <th>판매 횟수</th>
          <th>가격</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @reports.each do |report| %>
          <tr class='span4'>
            <td><%= report.id %></td>
            <td><%= link_to report.title, report_path(report) %>
            <td>
              <%= render :partial => 'tag_list', :locals => { :report => report } %>
            </td>
            <td><%= email(report.user_id) %></td>
            <td>5</td>
            <td>1,000 원</td>
            <td>
              <% if report.user_id == current_user.id %>
                <%= link_to '수정', edit_report_path(report), :class => 'btn btn-mini' %>
              <% else %>
                <%= link_to '구매', report.document.url, :class => 'btn btn-mini btn-success' %>
              <% end %>
              <%= link_to '이메일', '#', :class => 'btn btn-mini' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <%= link_to :back, :class => 'btn btn-primary' do %>
    &laquo; 뒤로
  <% end %>
</div> 
