<h2>리포트 보기</h2>

<%= render 'error_messages' %>

<br />

리포트 ID: <%= @report.id %>

<br />
<br />

작성자: <%= email(@report.user_id) %>

<br />
<br />

제목: <%= @report.title %>

<br />
<br />

화일 타입: <%= @report.document_file_name.split(".", 2).second.upcase %>

<br />
<br />
태그: <%= render :partial => 'tag_list', :locals => { :report => @report } %>

<br />
<br />

가격: 1,000 원

<br />
<br />

<%= link_to '리포트 구매', @report.document.url, :class => 'btn btn-success' %>
<%= link_to :back, :class => 'btn btn-primary' do %>
  &laquo; 뒤로
<% end %>

<br />
<br />

<%= render 'disqus' %>
