<footer class="footer">
      <ul class="nav pull-left">
        <li style="padding:7px"><%= link_to "Home", "/" %></li>
        <li style="padding:7px"><%= link_to "개인정보취급방침", '#' %></li>
        <li style="padding:7px"><%= link_to "이용약관", '#' %></li>
        <li style="padding:7px"><%= link_to "책임한계와법적고지", '#' %></li>
        <li style="padding:7px">(주)코리포트 - 서울특별시 광진구 자양동 (대표이사: 홍길동)</li>
      </ul>
      <ul class="nav pull-right">
        <li><%= link_to image_tag("twitter_32.png", :border => 0), "http://twitter.com/koreport", :target => "_blank" %></li>
        <li><%= link_to image_tag("facebook_32.png", :border => 0), "http://facebook.com/koreport", :target => "_blank" %></li>
      </ul>

<!--
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>

  <a href="https://twitter.com/koreport" class="twitter-follow-button" data-show-count="false">Follow @koreport</a>
-->
<% if false %>
  <%= render 'layouts/debug' %>
<% end %>
</footer>
