<ul class='nav'>
<li> <%= link_to '공지', '#' %> </li>
<li> <%= link_to '검색', '#' %> </li>
<li> <%= link_to '자유게시판', '#' %> </li>
<li> <%= link_to '질문게시판', '#' %> </li>
<li> <%= link_to '소모임', '#' %> </li>
<li> <%= link_to '- 취업당', '#' %> </li>
<li> <%= link_to '- 스펙쩐당', '#' %> </li>
<li> <%= link_to '- 연수당', '#' %> </li>
</ul>
