<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>좋은 리포트, koReport - 쉽고 빠르게 검색하고 바로 다운받으세요</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="container">
  <div class="row">
    <div class='span2'>
      <%= render 'layouts/sidenav' %>
    </div>
    <div class="span8">
    <%= render :partial => 'layouts/flash', object: flash %>
    <%= yield %>
    </div>
    <div class='span2'>
      <%= render :partial => 'reports/tag_cloud' %>
    </div>
  </div>

  <%= render 'layouts/footer' %>
<!--
  <%= render 'layouts/debug' %>
  -->
</div>

</body>
</html>
